* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('image/fundo.jpg');
}

a {
    text-decoration: none;
    color: black;
}

header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

header h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.inserir_cd,
.inserir_dvd,
.view_cd,
.view_dvd,
.button,
.button_home,
.button_cad,
.button_view {
    width: 110px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(48, 110, 161);
    border-radius: 8px;
    text-align: center;
}

.inserir_cd:hover,
.inserir_dvd:hover,
.view_cd:hover,
.view_dvd:hover,
.button:hover,
.button_cad:hover,
.button_view:hover,
.button_home:hover {
    background-color: rgb(43, 122, 226);
}

.images_first {
    display: flex;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_cd {
    display: flex;
    margin-left: 40px;
}

.button_dvd {
    display: flex;
    margin-right: 40px;
}

.button_action {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(48, 110, 161);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button_air {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
}

.list {
    display: flex;
    width: 80%;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box1,
.box2,
.box3 {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    height: 90%;
    padding: 10px;
    text-align: justify;
}

.box1 p,
.box2 p,
.box3 p {
    font-size: 19px;
}

.box1 h4,
.box2 h4,
.box3 h4 {
    font-size: 19px;
}

.date,
.nome_cd {
    margin-top: 7px;
}

.categoria {
    margin-top: 9px;
}

.descricao {
    margin-top: 12px;
}

section label {
    font-size: large;
}

textarea {
    resize: none;
}

#menor {
    font-size: 18px;
}